:root {
    --fuenteHeading:  'PT Sans', sans-serif;
    --fuenteParrafos: 'Lato', sans-serif;

    --primario:#784D3C;
    --claro:#afadad;
    --blanco:#FFFFFF;
    --negro:#000000;
    --rojo:#eb0505;
    --background-color:#53995c;
}

html {
    box-sizing: border-box; /* Border,Padding,...no afecte ancho de los elementos*/
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 3rem; /*interlineado*/
}

/** Globales **/

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
   
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/** Utilidades **/

.no-margin {
    margin: 0  /*Elimina margenes*/
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** HEADER **/

#navbar {
    background-color: var(--background-color);
    color: white;  
}

.container--navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 5px;    
}
.navbar-icons__text  {
    display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 0.5rem;
    padding-left: 0.5rem;
       
}

.container-navsecond {
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    padding: 12px;
    
  }
  
  .container-navsecond a {
    color:var(--negro);
    font-family: var(--fuenteHeading);
    font-size: 2rem;
  }
  
  .container-navsecond li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
  
  }
  
  .container-navsecond .current  {
    color: var(--background-color)
    
  }
  
    
 