:root {
    --fuenteHeading:  'PT Sans', sans-serif;
    --fuenteParrafos: 'Lato', sans-serif;

    --primario:#784D3C;
    --claro:#afadad;
    --blanco:#FFFFFF;
    --negro:#000000;
    --rojo:#eb0505;
    /* --background-color:#53995c;*/
    --background-color:#1f839c;
    
}

html {
    box-sizing: border-box; /* Border,Padding,...no afecte ancho de los elementos*/
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 3rem; /*interlineado*/
}

/** Globales **/

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
   
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}
b {
  color:var(--background-color)
}

/** Utilidades **/

.loader { /*Imagen preloader*/
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('img/preload.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}
.no-margin {
    margin: 0  /*Elimina margenes*/
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/* LINEA SEPARADORA */
.linea {
  border-top: 3px solid var(--background-color);
  height: 2px;
  max-width: 900px; /*Para que la linea no ocupe el ancho entero */
  padding: 0;
  margin: 20px auto 0 auto;
}

/** HEADER **/

#navbar {
    background-color: var(--background-color);
    color: white;  
}

.container--navbar { /*Flex de la barra de navegacion */
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 5px;    
}
.navbar-icons__text  { /* Alineamos iconos dentro del flex padre */
    display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 0.5rem;
    padding-left: 0.5rem;
       
}

.container-navsecond {
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    padding: 12px;
    
  }
  
  .container-navsecond a {
    color:var(--negro);
    font-family: var(--fuenteHeading);
    font-size: 2rem;
  }
  
  .container-navsecond li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
  
  }
  
  .container-navsecond .current  {
    color: var(--background-color)
    
  }
  .logoOne img{
      display: block;
      height: 30rem;
      width: 90rem;
      margin:auto; /* Centramos imagen */
  }
  
  /* NOSOTROS */
  .nosotros {
      padding:1rem 20rem;
      text-align:justify;
      color: #5e5656;
      font-family: var(--fuenteParrafos);
  }
/* SERVICIOS */
/* Efectos CSS junto con JavaScript para imagenes servicios.
Tambien se importan fuentes de la API de google */
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.5rem; /*Interlineado*/
  font-size: 14px;
}
.snip1361 * { /* aplicado a todos los elementos con la clase snip1361 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img { /* aplicado a las imagenes */
  max-width: 100%;
  vertical-align: top;
}
.snip1361 figcaption { /*Aplicado al título */
  position: absolute;
  top: calc(100%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before { /* Aplicado al titulo antes de .. */
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
  margin: 0 0 10px;
}
.snip1361 h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color);
}
.snip1361 p {
  font-size: 3em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.snip1361:hover figcaption, /* Aquí se aplica el script callaction */
.snip1361.hover figcaption {
  top: 70%;
}
/* Fin servicios con efectos  */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
}
.services h2 {
  color:var(--background-color);
}
.presentacion--servicios {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
  }
  
  /* Se aplica a las imagenes en el contenedor servicios */
  .presentacion--servicios_cuadro img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    display: block;
    border-radius: 50%;
  }
  
  /* Se aplica a los parrafos en el contenedor servicios */
  .presentacion--servicios_cuadro p {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fuente);
    color: var(--azul);
    text-align: center;
  }
  
  /* RESUMEN SERVICIOS */

  .resumen_servicios {
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: var(--background-color);
    padding: 2rem;
    color:var(--blanco);
    
  }
  .resumen_servicios__cuadro  { /* Alineamos iconos dentro del flex padre */
    display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 0.5rem;
    padding-left: 0.5rem;
       
}
.resumen_servicios__cuadro2  { /* Alineamos iconos dentro del flex padre */
  display: inline-block;
  align-items: center;
  justify-items: center;
  text-align: center;
  line-height: 0.5rem;
  padding-left: 0.5rem;
  background-color: #7dbab9;
     
}
.resumen_servicios__texto{
  color:var(--blanco);

}
/* TEAM */

.Team {
  display: flex;
  background-image: url(../img/team.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat; /*Img no se repita*/
    background-position: center center; /* img se centra al hacer venana más pequeña*/
    color: var(--blanco);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}
.Team_cabecera{
  font-size: 10rem;
  color: var(--background-color);

}

/* OURCENTER */

.ourcenter_contenedor {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  color: var(--background-color);
  margin-top: 1rem;
  max-width: 500px;
  margin:auto;
  margin-top: 1.5rem;
}
.ourcenter_contenedor h2 {
  font-size: 3rem;
  text-align: center;
}

/*SLIDER*/

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Esconder imagenes por defecto */
.mySlides {
  display: none;
}

/* Botones antes y despues */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicionar boton siguiente a la derecha */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Cursor encima un efecto de oscurecer en negro */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Texto del titulo de la foto */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Numero de la foto */
.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Los circulos indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animación de una foto a otra*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--background-color);
  margin-top: 2.5rem;
  color: var(--blanco);
  align-items: center;
}
.footer-iconos__text {
  display: inline-block;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 0.5rem;
    padding-left: 0.5rem;
}

.footer-iconos i:hover{
  color:#eb0505;
}

/* CONTACTO Y FORMULARIO */

.contacto {
  display: flex;
  /*FLEX en el contenedor padre */
  max-width: 900px;
  background-color: var(--blanco);
  margin: 40px auto 0 auto;
  line-height: 1.40;
  /* Interlineado */
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  
}

.contacto--datos {
  /* Proporcion queremos que ocupe */
  flex: 1;
  background-color: var(--azul);
  font-family: var(--fuenteHeading);
  font-size: 1.5rem;
  color: var(--negro);
  text-align: justify;
  padding: 1rem 5rem;
  /* Separamos texto de los bordes*/
  box-shadow: 0 0 40px -10px #000;
  /* Sombreado*/
}

.contacto--datos__calle {
  /*Contenedor datos de contacto*/
  text-align: center;
  padding: 2rem 2rem;
  align-items: center;
}

/* FORMULARIO */

/* CSS general del formulario */
.sobrenosotros--formulario {
  background-color:var(--background-color);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  
}
.sobrenosotros--formulario h2 {
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

}
.form {
  padding: 1.10rem 1rem;
  
}

.form-control {
  margin-bottom: 1px;
  padding-bottom: 1px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 12px;
}
/* CSS cuando estamos sobre el campo del formulario */
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
/*Color borde campo cuando es correcto*/
.form-control.success input {
  border-color: rgb(15, 231, 18);
}
/*Color borde campo cuando es erroneo*/
.form-control.error input {
  border-color: rgb(235, 15, 15);
}

/*Color del mensaje debajo de los cajetines cuando campo es erroeno*/
.form-control small {
  color:rgb(235, 15, 15);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
/*Al ser campo erronea se hara visible*/
.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}


/** PAGE TEAM**/ 
/* ZONA TESTIMONIOS */
.testimonial-container {
  background-color: var(--background-color);
  color: #fff;
  border-radius: 15px;
  margin: 10px auto;
  padding: 30px 30px;
  max-width: 900px;
  position: relative;
}



.testimonial {
  line-height: 2rem; /*Interlineado testimonios*/
  font-family: var(--fuenteParrafos);
  font-size: 2rem;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.user .user-image { /* imagen del usuario testimonio */
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: 30px;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}



/* PAGE LPD */
.container-lpd{
  display: block;
  background-color:var(--blanco);
    border-radius: 5px;
    border-color: var(--background-color);
    border: solid 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 1200px;
  margin: auto;
  margin-top: 5rem;
  padding: 10rem;
}

